.playButton {
    position: relative;
    overflow: hidden;
}

.playIcon {
    margin-right: -2px;
    position: absolute;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.playIcon.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.playIcon.visible {
    opacity: 1;
    transform: scale(1);
}

.pauseIcon {
    position: absolute;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.pauseIcon.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.pauseIcon.visible {
    opacity: 1;
    transform: scale(1);
}
