.hoverRoot {
    opacity: 0.6;
    transition: opacity 160ms;
}

.hoverShow {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 160ms,
        visibility 160ms;
}

@media (hover: hover) {
    .hoverRoot:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity 60ms;
    }

    .hoverRoot:hover .hoverShow {
        opacity: 1;
        visibility: visible;
        transition:
            opacity 60ms,
            visibility 60ms;
    }
}
